<div class="cajaFiltrosDinamicos">
    <button id="btnAbrirFiltros" class="btnToggleVistas" title="Filtrar">
        🔍
    </button>
    <div id="checkboxFiltros" class="checkboxFiltros" style="display: none;">
        <p><strong>Selecciona campos para filtrar:</strong></p>
        <div class="checkboxFiltrosGrid">
            {% for a in atributos %}
                {% if a.attr not in ['id', 'token', 'imagen'] %}
                <label class="campoCheck">
                    <input type="checkbox" class="checkboxIndividual" data-attr="{{ a.attr }}" data-tipo="{{ a.tipo }}" data-etiqueta="{{ a.etiqueta }}">
                    {{ a.etiqueta }}
                </label>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="camposBusqueda" class="camposBusqueda">
    </div>
</div>