<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Partida DnD{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <!-- Java Script -->
    {{ importmap('app') }}
    

</head>

<body>
    {% block body %}{% endblock %}
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>