<h1 class="h1Portada">¡ Bienvenid@ a la partida !</h1>
        <h2 class="h2Portada">Navega por los diferentes apartados o usa estos botones para ver, modificar o eliminar los
            datos</h2>
<div class="espacioPortada">
    <div class="bannerIzq"></div>
    <div class="bannerMid">
        <div class="botonesPortada">
            <a href="{{ path('listar_objetos') }}" class="btnPortada">Listar</a>
            <a href="{{ path('editar_objetos') }}" class="btnPortada">Editar</a>
            <a href="{{ path('borrar_objetos') }}" class="btnPortada">Borrar</a>
        </div>
    </div>
    <div class="bannerDer"></div>
</div>