{% extends 'dnd/plantillas/plantillaTablas2.html.twig' %}
{% import 'macros/verMosaicoTablas.html.twig' as m %}
{% import "macros/ordenarTablas.html.twig" as t %}

{% block botones_vistas_tabla %}
    {{ include("dnd/plantillas/_botonesVistaTablas.html.twig") }}
{% endblock %}

{% block tabla_titulo %}LISTADO DE RAZAS{% endblock %}

{% block vista_mosaico %}
<div class="gridMosaico">
    {% for r in razas %}
        {{ m.generarMosaico(r.nombre, r.token, 'razas', r.origen)}}
    {% endfor %}
</div>
{% endblock %}