{# CODIGO DEL MOSTRADOR DE RESUMENES DE CAPITULOS #}
{% if capSelect %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Resumen del capítulo {{ capSelect.numero }}: {{ capSelect.titulo }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="resumen">{{ capSelect.resumenCompleto|raw}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}